body{
    background: chartreuse;
}
header{
    ul{
        color: red;
        text-align: center;
        text-transform: capitalize;
    }
@media(max-width:600px) 
    }      
header img{
    max-width: 100%;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    margin: 0 10px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    &:hover{
        color: yellow;
    }
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
main img{
    max-width: 100%;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 24px;
}
/* footer */
footer{
     width: 800px;
    margin: 0 auto;
    background-color:light greenyellow;
    padding: 40px;
    text-align: center;
}
footer.content{
    max-width: 800px;
    margin: 0 auto;
    
}
@media(max-width: 600px) {
    footer p{
        font-size: 16px;
    }

}